* {
    margin: 0;
    padding: 0;
}

img, video, svg, gif, lottie-player {
    display: block;
    width: 100%;
}

.intro-placeholder {
    min-height: 100vh;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro__text {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
}

.section__video {
    height: 2000px;
    background-color: aqua;
}

.holder {
    position: sticky;
    top: 0;
}

video {
    height: 100vh;
    object-fit: cover;
}

.outro-placeholder {
    min-height: 100vh;
    background-color: white;
}

.outro__text {
    /* position: absolute; */
    padding-top: 50vh;
    text-align: center;
    /* top: 360%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
}

h1 {
    padding-bottom: 8px;
    font-family: "lulo-one", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}

h3 {
    font-family: "agenda-one", sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 3px;
}