*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    color:darkolivegreen;
    display: flex;
    justify-content: center;
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
    animation-name: header;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-delay: 0;
    animation-timing-function: ease;
    animation-fill-mode: none;
}

.container{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.item{
    /* background-color: rgb(255, 0, 242); */
    width: 100px;
    aspect-ratio: 1/1;
    animation-name: slide;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-delay: 0;
    animation-timing-function: ease;
    animation-fill-mode: none;
}

@keyframes slide {
    0%{
        transform: translateX(0) ;
        background-color: blue;
    }
    50%{
        background-color: darkmagenta;
    }
    100%{
        transform: translateX(200px) ;
        background-color: darkolivegreen;
    }
}

@keyframes header{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200px);
    }
}