* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* border: 2px solid rgb(47, 255, 0); */
    width: 80vw;
    margin: 15px auto;
    aspect-ratio: 3 / 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 12px;
}

.item {
    /* border: 2px solid blue; */
}

.item-1 {
    background-color: rgb(215, 158, 242);
    color: rgb(215, 158, 242);
    grid-column: span 2;
}

.item-2 {
    background-color: rgb(240, 144, 70);
    color: rgb(240, 144, 70);
    grid-row: span 2;
}

.item-3 {
    background-color: rgb(141, 233, 149);
    color: rgb(141, 233, 149);

}

.item-4 {
    background-color: rgb(128, 214, 216);
    color: rgb(128, 214, 216);
}
