* {
    margin: 0;
    padding: 0;
}

img, video, gif, svg, lottie-player {
    width: 100%;
    display: block;
}

h1{
    font-size: 3rem;
    font-family: "acier-bat-outline", sans-serif;
}

.edit{
    
}