* {
    margin: 0;
    padding: 0;
}

img, video, gif, svg, lottie-player {
    width: 100%;
    display: block;
}

.background-video {
    min-height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.intro {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}