* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.wheel {
    padding-top: 100px;
    padding-bottom: 100px;
}

.container {
    display: flex;
    position: relative;
    width: 600px;
    height: 600px;
    left: -300px;
    border-radius: 50%;
    background-color: lightblue;
    transition: transform 0.1s;
    justify-content: center;
    align-items: center;
}

.mask {
    position: absolute;
    width: 640px;
    height: 640px;
    border-radius: 50%;
    background-color: rgb(31, 31, 31);
    transition: transform 0.1s;
    z-index: 1;
}

.trigger {
    position: absolute;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-color: rgb(134, 38, 38);
    transition: transform 0.1s;
    z-index: 2;
    opacity: 0;
}

.square {
    position: absolute;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    transform-origin: center;
}

.filler {
    height: 100vh;
    background-color: #1e1e1e;
}

.info {
    position: relative;
    height: 100px;
    width: 100px;
    left: 65%;
    top: -350px;
    z-index: 10;
    font-family: system-ui;
    color: white;
    display: flex;
    padding: 5px;
}