.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
}

.section_group{
    display: flex;
}

.item{
    background-color: rgb(174, 213, 208);
    border: solid blue 2px;
    width: 100px;
    height: 100px;
    transition: transform .5s;
}

.item:hover{
    transform: translateY(20px) rotate(45deg);
    background-color:lightcyan;
    border-color: brown;
}